:root {
	--primary: #1B998B;
	--secondary: #FFFD82;
	--alternative: #ED217C;
	--jungle: #4A0D67;
	--floyd: #FF9B71;
}

.Hero {
	height: 240px;
	display: flex;
	color: white;
	align-items: center;
	text-align: center;
	background: var(--primary);
}

.Hero .container {
	width: 100% !important;
}

.Hero__title {
	font-size: 2.5rem;
}

.Filter {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.Filter .input {
	width: 100%;
	max-width: 400px;
}

.IconsWrapper {
	min-height: calc(100vh - 340px - 78px);
	display: flex !important;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.Item {
	width: 20%;
	padding: 0;
}

.Item__content {
	height: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0 5px;
	transition: .2s;
	border-radius: 3px;
}

.Item__content:hover {
	background: #dcdcdc;
}

.Item__icon {
	width: 50px;
}

.Item__icon svg {
	width: 100%;
  height: auto;
}

.Item__name {
	text-align: center;
}

@media only screen and (max-width: 576px) {
	.Item {
		width: 50%;
	}
}

@media only screen and (min-width: 576px) {
	.Item {
		width: 33.333%;
	}
}

@media only screen and (min-width: 768px) {
	.Item {
		width: 25%;
	}
}

@media only screen and (min-width: 1200px) {
	.Item {
		width: 20%;
	}
}

.Footer {
	height: 100px;
	background: #002538;
	color: #a2afb5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Footer__copyright {
	margin: 0;
}