mixin filter(query)
	.Filter.ui.container
		.ui.action.input
			input#searchInput(type='text' placeholder='Search...', value=query)
			#searchButton.ui.animated.teal.button
				.visible.content Search
				.hidden.content
					i.search.icon