extends layouts/default

block content
	include ./hero
	include ./filter

	.IconsWrapper.ui.container
		each icon in icons
			a.Item(href='https://dantecalderon.com', target='_blank')
				.Item__content
					.Item__icon
						!= icon.icon
					.Item__name
						p= icon.name
						p= originalUrl
		else
			p.ui.center There are no values