extends layouts/default

block content
	include ./hero
	include ./filter
	+ filter(query)
	.IconsWrapper.ui.container
		each icon in icons
			a.Item(href='https://dantecalderon.com', target='_blank')
				.Item__content
					.Item__icon
						!= icon.icon
					.Item__name
						p= icon.name
						p= originalUrl
		else
			.NotFound.ui.red.message
				.header Icon Not Found
				p Sorry, icon was not found. Try searching with other pattern.