doctype html
html(lang='en')
	head
		title Devicons Server
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css')
		style
			include ../../public/main.css
	body
		#main
			block content
		footer.Footer
			p.Footer__copyright
				|Made with ❤ by 
				b Dante Calderón
			script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js')