doctype html
html(lang='en')
	head
		title Devicons Server
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css')
	body
		#main
			block content
		foooter
			p (c) 2018 - Dante Calderón
			script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js')